In [32]:
import pandas as pd
import plotly.express as px
from datetime import datetime
import numpy as np
from tqdm import tqdm

data = pd.read_csv('./hate_crime.csv', low_memory=False)
cities = pd.read_excel('./uscities.xlsx')
oridata= pd.read_csv('./oridata.csv')
fips = pd.read_csv('./fips.csv')
oridata.set_index('ORI9',inplace = True)
fips.set_index('fips',inplace=True)

In [33]:
fips

                    name state
fips
0          UNITED STATES   NaN
1000             ALABAMA   NaN
1001      Autauga County    AL
1003      Baldwin County    AL
1005      Barbour County    AL
...                  ...   ...
56037  Sweetwater County    WY
56039       Teton County    WY
56041       Uinta County    WY
56043    Washakie County    WY
56045      Weston County    WY

[3195 rows x 2 columns]

'AR0040200'

In [41]:
crime = []
notfound = []

for i in tqdm(range(len(data))):
    temp = {}

    temp['date'] = data.loc[i]['date']

    try:
        temp['county'] = fips.loc[oridata.loc[data.loc[i]['ORI']]['FIPS']]['name']
    except:
        temp['county'] = 'Unknown'

    temp['state'] = data.loc[i]['state']
    temp['region']  = data.loc[i]['region']
    temp['location'] = data.loc[i]['location']
    temp['offense'] = data.loc[i]['offense_type']
    temp['off_race'] = data.loc[i]['offender_race']
    temp['bias'] = data.loc[i]['motivation']
    temp['n_off'] = data.loc[i]['n_offenders']
    temp['n_vic'] = data.loc[i]['n_victims'] 

    crime.append(temp)

100%|██████████| 219577/219577 [05:29<00:00, 665.51it/s]

In [42]:
crime = pd.DataFrame(crime)

In [44]:
crime.to_csv('./clean_data.csv')

ORI9
AL0040200     1001
AL0040100     1001
AL0040300     1001
AL0040000     1001
AL0051100     1003
             ...
WY0220000    56043
WY0230100    56045
WYWHP1200    56045
WY0230200    56045
WY0230000    56045
Name: FIPS, Length: 36490, dtype: int64